---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Site Under Construction</h1>
			<p>
				Blue Peak Horizons LLC specializes in providing high-quality cybersecurity consulting services,
				including FedRAMP assessments, RMF compliance, and secure software development guidance. Our 
				mission is to help organizations achieve robust security posture while simplifying compliance.
			</p>

			<p>
				<h2>Our Services</h2>
		          <ul>
		            <li>FedRAMP Initial Assessment & Gap Analysis</li>
		            <li>Security Control Implementation & Documentation</li>
		            <li>Continuous Monitoring & Risk Management</li>
		            <li>Supply Chain Security Consulting</li>
		            <li>Cybersecurity Policy & SOP Development</li>
		          </ul>
			</p>	
		</main>
		<Footer />
	</body>
</html>
